.DepSettingcreate
    DashboardController(v-bind:heading="nextactivity",v-bind:savedbtn='true',v-bind:discardbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true')
        .col-sm-6(style='padding:0px;')(slot='job')
            h4.samodashheading(style="font-size: 18px;") Departments/ {{departName}}
        span.o_pager_value(slot='page') {{counter}}
            |  /
            span.o_pager_limit(style="padding-right: 6px;") {{num}}

            span.btn-group.btn-group-sm
                button.fa.fa-chevron-left.btn.btn-icon.o_pager_previous#num10(@click="counter--",style='background-color:white;border-color: #adadad;color: #4c4c4c;')(type='button', accesskey='p')
                button.fa.fa-chevron-right.btn.btn-icon.o_pager_next#num01(@click="counter++",style='background-color:white;border-color: #adadad;color: #4c4c4c;')(type='button', accesskey='n')
    Modal(v-bind:saveclose='true',v-bind:discard='true',v-bind:heading="modal61",v-bind:modal='bd-example-modal-lg61')
        .modal-body.o_act_window
            .o_form_view.o_form_editable
                .o_form_sheet_bg
                    .o_form_sheet
                        .oe_button_box(name='button_box')
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-archive.o_button_icon
                                .o_stat_info.o_form_field(data-original-title='', title='')
                                    span.o_stat_text.o_not_hover.text-success Active
                                    span.o_stat_text.o_hover.text-danger Archive
                            .o_checkbox.o_form_field_boolean.o_form_field.o_form_invisible
                                input(type='checkbox', name='show_leaves', disabled='')
                                span
                            button.btn.btn-sm.oe_stat_button(type='button', data-original-title='', title='')
                                .fa.fa-fw.fa-calendar.o_button_icon
                                .o_form_field.o_stat_info
                                    span.o_stat_value 0
                                    span.o_stat_text Leaves Left
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-book.o_button_icon
                                .o_form_field.o_stat_info
                                    span.o_stat_value 0
                                    span.o_stat_text Contracts
                        .o_form_field_image.oe_avatar.o_form_field(data-original-title='', title='')
                            img(border='1', name='image', src='http://192.168.25.104:8069/web/image?model=hr.employee&id=13&field=image_medium&unique=20170329073506')
                            .o_form_image_controls
                                span.fa.fa-pencil.fa-lg.pull-left.o_select_file_button(title='Edit')
                                span.fa.fa-trash-o.fa-lg.pull-right.o_clear_file_button(title='Clear')
                                span.o_form_binary_progress Uploading...
                                .o_hidden_input_file
                                    form.o_form_binary_form(enctype='multipart/form-data', method='post', action='/web/binary/upload')
                                        input(name='csrf_token', type='hidden', value='616929304a51b7102a984369878e15a6ca21cbe0o')
                                        input(name='callback', type='hidden')
                                        input.o_form_input_file(accept='image/*', name='ufile', type='file')
                                    iframe(style='display: none')
                        .oe_title
                            label.o_form_label.oe_edit_only(for='o_field_input_105')
                                | Name
                            h1
                                #textbox
                                    .o_form_field(data-original-title='', title='')
                                        .oe_hr_attendance_status.fa.fa-user.oe_hr_attendance_status_red
                                    input#o_field_input_105.o_form_input.o_form_field.o_form_required(placeholder="Employees's Name", type='text')
                        .o_form_field_many2manytags.o_form_field
                            .o_form_field_many2one.o_form_field
                                .o_form_input_dropdown
                                    input.o_form_input.ui-autocomplete-input(type='text', placeholder='e.g. Part Time', autocomplete='off')
                                    span.o_dropdown_button(draggable='false')
                        .o_notebook
                            ul.nav.nav-tabs(role='tablist')
                                li.active
                                    a(data-toggle='tab', disable_anchor='true', role='tab', href='#notebook_page_106')
                                        | Public Information
                                li
                                    a(data-toggle='tab', disable_anchor='true', role='tab', href='#notebook_page_107')
                                        | Personal Information
                                li
                                    a(data-toggle='tab', disable_anchor='true', role='tab', href='#notebook_page_108')
                                        | HR Settings
                            .tab-content.nav.nav-tabs
                                #notebook_page_106.tab-pane.active(role='tabpanel')
                                    .o_group
                                        table.o_group.o_inner_group.o_group_col_6
                                            tbody
                                                tr
                                                    td(colspan='2', style='width: 100%;')
                                                        .o_horizontal_separator
                                                            | Contact Information
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_109')
                                                            | Working Address
                                                    td(colspan='1', style='width: 100%;')
                                                        select.workingAddressDropdown(v-model='workingAddressId',v-on:click="SelectContactInfo()")
                                                            option(v-for="addres in workingAddresses" v-bind:value='addres.id')
                                                                | {{addres.address}}
                                                            option
                                                                span(data-toggle='' data-taget='') Search More...
                                                            option
                                                                span(data-toggle='modal6' data-target='bd-example-modal-lg6') Create and Edit...
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_110')
                                                            | Work Mobile
                                                    td(colspan='1', style='width: 100%;')
                                                        input#o_field_input_110.o_form_input.o_form_field(type='text',v-model="workMobile")
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_111')
                                                            | Work Location
                                                    td(colspan='1', style='width: 100%;')
                                                        input#o_field_input_111.o_form_input.o_form_field(type='text',v-model="workLocation")
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_112')
                                                            | Work Email
                                                    td(colspan='1', style='width: 100%;')
                                                        input#o_field_input_112.o_form_input.o_form_field(type='text',v-model="workEmail")
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_113')
                                                            | Work Phone
                                                    td(colspan='1', style='width: 100%;')
                                                        input#o_field_input_113.o_form_input.o_form_field(type='text',v-model="workPhone")
                                        table.o_group.o_inner_group.o_group_col_6
                                            tbody
                                                tr
                                                    td(colspan='2', style='width: 100%;')
                                                        .o_horizontal_separator
                                                            | Position
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_114')
                                                            | Department
                                                    td(colspan='1', style='width: 100%;')
                                                        select.deptdropdown(v-model='departmentId',v-on:click="selectDepartManagerHussain()")
                                                            option(v-for="deptName in departnents" ,v-bind:value='deptName.id')
                                                                | {{deptName.name}}
                                                            option
                                                                span(data-toggle='' data-taget='') Search More...
                                                            option
                                                                span(data-toggle='modal2' data-target='bd-example-modal-lg1') Create and Edit...
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_115')
                                                            | Job Title
                                                    td(colspan='1', style='width: 100%;')
                                                        select.jobTitledropdown(v-model='jobtitleId')
                                                            option(v-for="jobTitle in jobTitles" v-bind:value='jobTitle.id')
                                                                | {{jobTitle.job_tittle}}
                                                            option
                                                                span(data-toggle='modal3' data-target='bd-example-modal-lg3') Create and Edit...
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_116')
                                                            | Manager
                                                    td(colspan='1', style='width: 100%;')
                                                        select.mgrDropdown(v-model="managerId")
                                                            option(v-for="mgr in managers" v-bind:value="mgr.id")
                                                                | {{mgr.employeename}}
                                                            option
                                                                span(data-toggle='' data-target='') Search More...
                                                            option
                                                                span(data-toggle='modal61' data-target='bd-example-modal-lg61') Create and Edit...
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_117')
                                                            | Coach
                                                    td(colspan='1', style='width: 100%;')
                                                        select.coachDropdown(v-model="coachId")
                                                            option(v-for="coach in coachs" v-bind:value="coach.id")
                                                                | {{coach.employeename}}
                                                            option
                                                                span(data-toggle='' data-target='') Search More...
                                                            option
                                                                span(data-toggle='' data-target='') Create and Edit...
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label.o_form_invisible(for='o_field_input_118')
                                                            | Is a Manager
                                                    td(colspan='1', style='width: 100%;')
                                                        .o_checkbox.o_form_field_boolean.o_form_field.o_form_invisible
                                                            input#o_field_input_118(type='checkbox', name='manager')
                                                            span
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label.o_form_label_help(for='o_field_input_119', data-original-title='', title='')
                                                            | Working Time
                                                    td(colspan='1', style='width: 100%;')
                                                        select.workingTimeDropdown(v-model='workingTimeId')
                                                            option(v-for="workTime in workingScedules" v-bind:value="workTime.id")
                                                                | {{workTime.name}}
                                                            option
                                                                span(data-toggle='modal00' data-target='bd-example-modal-lg100') Create and Edit...
                                    textarea.o_form_textarea.o_form_field(rows='6', name='notes', placeholder='Other Information ...')
                                    textarea.o_form_textarea.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 0px;')
                                #notebook_page_107.tab-pane(role='tabpanel')
                                    .o_group
                                        table.o_group.o_inner_group.o_group_col_6
                                            tbody
                                                tr
                                                    td(colspan='2', style='width: 100%;')
                                                        .o_horizontal_separator
                                                            | Citizenship & Other Information
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_120')
                                                            | Nationality (Country)
                                                    td(colspan='1', style='width: 100%;')
                                                        select.countryDropdown(v-model='countryId')
                                                            option(v-for="country in countries", v-bind:value="country.id")
                                                                | {{country.country_name}}
                                                            option
                                                                span(data-toggle='', data-target='') Search More...
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_121')
                                                            | Identification No
                                                    td(colspan='1', style='width: 100%;')
                                                        input#o_field_input_121.o_form_input.o_form_field(type='text', v-model="identificationNo")
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_122')
                                                            | Passport No
                                                    td(colspan='1', style='width: 100%;')
                                                        input#o_field_input_122.o_form_input.o_form_field(type='text',v-model="passportNo")
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label.o_form_label_help(for='o_field_input_123', data-original-title='', title='')
                                                            | Bank Account Number
                                                    td(colspan='1', style='width: 100%;')
                                                        select.bankAccDropdown(v-model='BankAccountNumbersId')
                                                            option(v-for="BankAccountNumber in BankAccountNumbers", v-bind:value="BankAccountNumber.id")
                                                                | {{BankAccountNumber.account_number}}
                                                            option
                                                                span(data-toggle="modal62" , data-target="bd-example-modal-lg62") Create and Edit...
                                        table.o_group.o_inner_group.o_group_col_6
                                            tbody
                                                tr
                                                    td(colspan='2', style='width: 100%;')
                                                        .o_horizontal_separator
                                                            | Contact Information
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_124')
                                                            | Home Address
                                                    td(colspan='1', style='width: 100%;')
                                                        select.homeAddressDropdown(v-model="homeAddressId")
                                                            option(v-for='homeAddress in homeAddresses', v-bind:value='homeAddress.id')
                                                                | {{homeAddress.address}}
                                                            option
                                                                span(data-toggle='', data-target='') Search More...
                                                            option
                                                                span(data-toggle='modal6' data-target='bd-example-modal-lg6') Create and Edit...
                                        table.o_group.o_inner_group.o_group_col_6
                                            tbody
                                                tr
                                                    td(colspan='2', style='width: 100%;')
                                                        .o_horizontal_separator
                                                            | Status
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_125')
                                                            | Gender
                                                    td(colspan='1', style='width: 100%;')
                                                        select#o_field_input_611.o_form_input.o_form_field(name='gender', v-model="gender")
                                                            option(value='false')
                                                            option(value='male') Male
                                                            option(value='female') Female
                                                            option(value='other') Other
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_126')
                                                            | Marital Status
                                                    td(colspan='1', style='width: 100%;')
                                                        select#o_field_input_612.o_form_input.o_form_field(name='marital', v-model="maritalStatus")
                                                            option(value='false')
                                                            option(value='single') Single
                                                            option(value='married') Married
                                                            option(value='widower') Widower
                                                            option(value='divorced') Divorced
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_127')
                                                            | Number of Children
                                                    td(colspan='1', style='width: 100%;')
                                                        input#o_field_input_127.o_form_input.o_form_field.o_form_field_number(type='text',v-model="noOfChildren")
                                        table.o_group.o_inner_group.o_group_col_6
                                            tbody
                                                tr
                                                    td(colspan='2', style='width: 100%;')
                                                        .o_horizontal_separator
                                                            | Birth
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_128')
                                                            | Date of Birth
                                                    td(colspan='1', style='width: 100%;')
                                                        .o_datepicker.o_form_field_date.o_form_field
                                                            input.o_datepicker_input.o_form_input#datepicker6(type='text', name='birthday', v-model="birthDate")
                                                            span.o_datepicker_button
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_129')
                                                            | Place of Birth
                                                    td(colspan='1', style='width: 100%;')
                                                        input#o_field_input_129.o_form_input.o_form_field(type='text', v-model="placeOfBirth")
                                #notebook_page_108.tab-pane(role='tabpanel')
                                    .o_group
                                        table.o_group.o_inner_group.o_group_col_6
                                            tbody
                                                tr
                                                    td(colspan='2', style='width: 100%;')
                                                        .o_horizontal_separator
                                                            | Timesheets
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_130')
                                                            | Timesheet Cost
                                                    td(colspan='1', style='width: 100%;')
                                                        input#o_field_input_130.o_form_input.o_form_field.o_form_field_number(type='text',value="0.00",v-model="timeSheetCost")
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_131')
                                                            | Account
                                                    td(colspan='1', style='width: 100%;')
                                                        select.accDropdown(v-model="accountId")
                                                            option(v-for="account in accounts", v-bind:value="account.id")
                                                                | {{account.name}}
                                                            option
                                                                span(data-toggle="", data-target="") Search More...
                                                            option
                                                                span(data-toggle="modal10", data-target="bd-example-modal-lg10") Create and Edit...
                                        table.o_group.o_inner_group.o_group_col_6
                                            tbody
                                                tr
                                                    td(colspan='2', style='width: 100%;')
                                                        .o_horizontal_separator
                                                            | Status
                                                //tr
                                                //    td.o_td_label(colspan='1')
                                                //        label.o_form_label(for='o_field_input_132')
                                                //            | Company
                                                //    td(colspan='1', style='width: 100%;')
                                                //        .o_form_field_many2one.o_with_button.o_form_field
                                                //            .o_form_input_dropdown
                                                //                input#o_field_input_132.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                //                span.o_dropdown_button(draggable='false')
                                                //            .fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button',data-toggle='modal', data-target='.bd-example-modal-lg2')
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label.o_form_label_help(for='o_field_input_133', data-original-title='', title='')
                                                            | Related User
                                                    td(colspan='1', style='width: 100%;')
                                                        select.relatedUserDropdown(v-model="relatedUserId")
                                                            option(v-for="relatedUser in relatedUsers", v-bind:value="relatedUser.id")
                                                                | {{relatedUser.username}}
                                                            option
                                                                span(data-toggle="modal5",data-target="bd-example-modal-lg5") Create and Edit...
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label.o_form_label_help(for='o_field_input_134', data-original-title='', title='')
                                                            | Badge ID
                                                    td(colspan='1', style='width: 100%;')
                                                        input#o_field_input_134.o_form_input.o_form_field(type='text', v-model="badgeId")
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label.o_form_label_help(for='o_field_input_135', data-original-title='', title='')
                                                            | PIN
                                                    td(colspan='1', style='width: 100%;')
                                                        input#o_field_input_135.o_form_input.o_form_field(type='text',v-model="pin")
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label.o_form_label_help(for='o_field_input_136', data-original-title='', title='')
                                                            | Manual Attendance
                                                    td(colspan='1', style='width: 100%;')
                                                        .o_checkbox.o_form_field_boolean.o_form_field
                                                            input#o_field_input_136(type='checkbox', name='manual_attendance', v-model="manualAttendance")
                                                            span
                                        table.o_group.o_inner_group.o_group_col_6
                                            tbody
                                                tr
                                                    td(colspan='2', style='width: 100%;')
                                                        .o_horizontal_separator
                                                            | Current Contract
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label
                                                            | Medical Exam
                                                    td(colspan='1', style='width: 100%;')
                                                        .o_datepicker.o_form_field_date.o_form_field
                                                            input.o_datepicker_input.o_form_input#datepicker7(type='text', name='medic_exam', v-model="medicalExamDate")
                                                            span.o_datepicker_button
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label(for='o_field_input_138')
                                                            | Company Vehicle
                                                    td(colspan='1', style='width: 100%;')
                                                        input#o_field_input_138.o_form_input.o_form_field(type='text', v-model="companyVehicle")
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label.o_form_label_help(for='o_field_input_139', data-original-title='', title='')
                                                            | Home-Work Dist.
                                                    td(colspan='1', style='width: 100%;')
                                                        input#o_field_input_139.o_form_input.o_form_field.o_form_field_number(type='text',v-model="HomeDistance")
                                        table.o_group.o_inner_group.o_form_invisible.o_group_col_6
                                            tbody
                                                tr
                                                    td(colspan='2', style='width: 100%;')
                                                        .o_horizontal_separator
                                                            | Leaves
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label.o_form_label_help(for='o_field_input_140', data-original-title='', title='')
                                                            | Remaining Legal Leaves
                                                    td(colspan='1', style='width: 100%;')
                                                        div
                                                            input#o_field_input_140.o_form_input.oe_inline.o_form_field.o_form_field_number(type='text')
                                                            |  days
                .o_chatter.o_form_field.oe_chatter
                    .o_chatter_topbar
                        button.btn.btn-sm.btn-primary.o_chatter_button_new_message(title='Send a message', type='button')
                            | New message
                        button.btn.btn-sm.btn-link.o_chatter_button_log_note(title='Log a note. Followers will not be notified.')
                            | Log an internal note
                        .o_followers.o_form_field
                            .o_followers_title_box
                                button.btn.btn-sm.btn-link.dropdown-toggle(aria-expanded='false', data-toggle='dropdown', title='One follower')
                                    i.fa.fa-user
                                    span.o_followers_count 1
                                    span.caret
                                ul.dropdown-menu.o_followers_list(role='menu')
                                    li.o_add_follower
                                        a(href='#')  Add Followers
                                    li.o_add_follower_channel
                                        a(href='#')  Add Channels
                                    li.divider
                                    li.o_partner
                                        img(src='/web/image/res.partner/59/image_small')
                                        a.o_mail_redirect(href='#', data-oe-id='59', data-oe-model='res.partner', title='hassan') hassan
                                        i.fa.fa-pencil.o_edit_subtype.hide(title='Edit subscription', data-follower-id='757', data-oe-id='59', data-oe-model='res.partner')
                                        i.fa.fa-remove.o_remove_follower(title='Remove this follower')
                            .o_followers_actions
                                .btn-group.btn-group-sm.o_subtypes_list
                                    button.btn.btn-sm.btn-link.o_followers_follow_button.o_followers_notfollow
                                        span.o_follow Follow
                                        span.fa.fa-times.o_followers_unfollow
                                        span.o_followers_unfollow  Unfollow
                                        span.fa.fa-check.o_followers_following
                                        span.o_followers_following  Following
                                    button.btn.btn-sm.btn-link.dropdown-toggle(aria-expanded='false', data-toggle='dropdown', disabled='disabled')
                                        span.fa.fa-bell
                                    ul.dropdown-menu(role='menu')
                    .o_mail_thread
                        .o_thread_date_separator
                            span.o_thread_date
                                | March 22, 2017
                        .o_thread_message(data-message-id='1269')
                            .o_thread_message_sidebar
                                img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/web/image/res.partner/3/image_small')
                            .o_thread_message_core.o_mail_note
                                p.o_mail_info
                                    | Note by
                                    strong(data-oe-model='res.partner', data-oe-id='')
                                        | YourCompany, Administrators
                                    |                     -
                                    small.o_mail_timestamp(title='Wed Mar 22 2017 12:41:01 GMT+0500') 7 days ago
                                    span
                                        i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='1269')
                                ul.o_mail_thread_message_tracking
                                    li
                                        | Active:
                                        span
                                            | true
                        .o_thread_message(data-message-id='1268')
                            .o_thread_message_sidebar
                                img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/web/image/res.partner/3/image_small')
                            .o_thread_message_core.o_mail_note
                                p.o_mail_info
                                    | Note by
                                    strong(data-oe-model='res.partner', data-oe-id='')
                                        | YourCompany, Administrators
                                    |                     -
                                    small.o_mail_timestamp(title='Wed Mar 22 2017 11:04:09 GMT+0500') 7 days ago
                                    span
                                        i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='1268')
                                ul.o_mail_thread_message_tracking
                                    li
                                        | Active:
                                        span  true
                                        span.fa.fa-long-arrow-right
                                        span
                                            | false
                        .o_thread_message(data-message-id='1267')
                            .o_thread_message_sidebar
                                img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/web/image/res.partner/3/image_small')
                            .o_thread_message_core.o_mail_note
                                p.o_mail_info
                                    | Note by
                                    strong(data-oe-model='res.partner', data-oe-id='')
                                        | YourCompany, Administrators
                                    |                     -
                                    small.o_mail_timestamp(title='Wed Mar 22 2017 11:04:07 GMT+0500') 7 days ago
                                    span
                                        i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='1267')
                                ul.o_mail_thread_message_tracking
                                    li
                                        | Active:
                                        span
                                            | true
                        .o_thread_message(data-message-id='1266')
                            .o_thread_message_sidebar
                                img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/web/image/res.partner/3/image_small')
                            .o_thread_message_core.o_mail_note
                                p.o_mail_info
                                    | Note by
                                    strong(data-oe-model='res.partner', data-oe-id='')
                                        | YourCompany, Administrators
                                    |                     -
                                    small.o_mail_timestamp(title='Wed Mar 22 2017 11:04:07 GMT+0500') 7 days ago
                                    span
                                        i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='1266')
                                ul.o_mail_thread_message_tracking
                                    li
                                        | Active:
                                        span  true
                                        span.fa.fa-long-arrow-right
                                        span
                                            | false
                        .o_thread_message(data-message-id='1265')
                            .o_thread_message_sidebar
                                img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/web/image/res.partner/3/image_small')
                            .o_thread_message_core.o_mail_note
                                p.o_mail_info
                                    | Note by
                                    strong(data-oe-model='res.partner', data-oe-id='')
                                        | YourCompany, Administrators
                                    |                     -
                                    small.o_mail_timestamp(title='Wed Mar 22 2017 11:04:05 GMT+0500') 7 days ago
                                    span
                                        i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='1265')
                                ul.o_mail_thread_message_tracking
                                    li
                                        | Active:
                                        span
                                            | true
                        .o_thread_date_separator
                            span.o_thread_date
                                | March 21, 2017
                        .o_thread_message(data-message-id='1262')
                            .o_thread_message_sidebar
                                img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/web/image/res.partner/3/image_small')
                            .o_thread_message_core.o_mail_note
                                p.o_mail_info
                                    | Note by
                                    strong(data-oe-model='res.partner', data-oe-id='')
                                        | YourCompany, Administrators
                                    |                     -
                                    small.o_mail_timestamp(title='Tue Mar 21 2017 17:35:21 GMT+0500') 8 days ago
                                    span
                                        i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='1262')
                                ul.o_mail_thread_message_tracking
                                    li
                                        | Active:
                                        span  true
                                        span.fa.fa-long-arrow-right
                                        span
                                            | false
                        .o_thread_message(data-message-id='1261')
                            .o_thread_message_sidebar
                                img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/web/image/res.partner/3/image_small')
                            .o_thread_message_core.o_mail_note
                                p.o_mail_info
                                    | Note by
                                    strong(data-oe-model='res.partner', data-oe-id='')
                                        | YourCompany, Administrators
                                    |                     -
                                    small.o_mail_timestamp(title='Tue Mar 21 2017 17:35:20 GMT+0500') 8 days ago
                                    span
                                        i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='1261')
                                ul.o_mail_thread_message_tracking
                                    li
                                        | Active:
                                        span
                                            | true
                        .o_thread_message(data-message-id='1260')
                            .o_thread_message_sidebar
                                img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/web/image/res.partner/3/image_small')
                            .o_thread_message_core.o_mail_note
                                p.o_mail_info
                                    | Note by
                                    strong(data-oe-model='res.partner', data-oe-id='')
                                        | YourCompany, Administrators
                                    |                     -
                                    small.o_mail_timestamp(title='Tue Mar 21 2017 17:35:20 GMT+0500') 8 days ago
                                    span
                                        i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='1260')
                                ul.o_mail_thread_message_tracking
                                    li
                                        | Active:
                                        span  true
                                        span.fa.fa-long-arrow-right
                                        span
                                            | false
                        .o_thread_message(data-message-id='1259')
                            .o_thread_message_sidebar
                                img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/web/image/res.partner/3/image_small')
                            .o_thread_message_core.o_mail_note
                                p.o_mail_info
                                    | Note by
                                    strong(data-oe-model='res.partner', data-oe-id='')
                                        | YourCompany, Administrators
                                    |                     -
                                    small.o_mail_timestamp(title='Tue Mar 21 2017 17:35:19 GMT+0500') 8 days ago
                                    span
                                        i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='1259')
                                ul.o_mail_thread_message_tracking
                                    li
                                        | Active:
                                        span
                                            | true
                        .o_thread_message(data-message-id='1258')
                            .o_thread_message_sidebar
                                img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/web/image/res.partner/3/image_small')
                            .o_thread_message_core.o_mail_note
                                p.o_mail_info
                                    | Note by
                                    strong(data-oe-model='res.partner', data-oe-id='')
                                        | YourCompany, Administrators
                                    |                     -
                                    small.o_mail_timestamp(title='Tue Mar 21 2017 17:35:18 GMT+0500') 8 days ago
                                    span
                                        i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='1258')
                                ul.o_mail_thread_message_tracking
                                    li
                                        | Active:
                                        span  true
                                        span.fa.fa-long-arrow-right
                                        span
                                            | false
                        .o_thread_date_separator
                            span.o_thread_date
                                | January 28, 2017
                        .o_thread_message(data-message-id='72')
                            .o_thread_message_sidebar
                                img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/web/image/res.partner/3/image_small')
                            .o_thread_message_core.o_mail_note
                                p.o_mail_info
                                    | Note by
                                    strong(data-oe-model='res.partner', data-oe-id='')
                                        | YourCompany, Administrators
                                    |                     -
                                    small.o_mail_timestamp(title='Sat Jan 28 2017 18:12:17 GMT+0500') 2 months ago
                                    span
                                        i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='72')
                                ul.o_mail_thread_message_tracking
                                    li
                                        | Active:
                                        span
                                            | true
                        .o_thread_message(data-message-id='71')
                            .o_thread_message_sidebar
                                img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/web/image/res.partner/3/image_small')
                            .o_thread_message_core.o_mail_note
                                p.o_mail_info
                                    | Note by
                                    strong(data-oe-model='res.partner', data-oe-id='')
                                        | YourCompany, Administrators
                                    |                     -
                                    small.o_mail_timestamp(title='Sat Jan 28 2017 18:12:17 GMT+0500') 2 months ago
                                    span
                                        i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='71')
                                p Employee created


    Modal(v-bind:saveclose='true',v-bind:discard='true',v-bind:heading="modal2",v-bind:modal='"bd-example-modal-lg1"')

        .modal-body.o_act_window
            .o_form_view.o_form_editable
                .o_form_sheet_bg
                    .o_form_sheet
                        .oe_button_box(name='button_box')
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-archive.o_button_icon
                                .o_stat_info.o_form_field
                                    span.o_stat_text.o_not_hover.text-success Active
                                    span.o_stat_text.o_hover.text-danger Archive
                        table.o_group.o_inner_group
                            tbody
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_194')
                                            | Department Name
                                    td(colspan='1', style='width: 50%;')
                                        input#o_field_input_194.o_form_input.o_form_field.o_form_required(type='text')
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_195')
                                            | Manager
                                    td(colspan='1', style='width: 50%;')
                                        select(v-model='identification_number')
                                            option(v-for='records in emp_table_records', v-bind:value="records.id")
                                                | {{ records.employeename }}
                                            option
                                                span(data-toggle='', data-target='') Search More...
                                            option
                                                span(data-toggle='', data-target='') Create and Edit...
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_196')
                                            | Parent Department
                                    td(colspan='1', style='width: 50%;')
                                        select(v-model='parent_dept_id' class="my_dropdown")
                                            option(v-for='records in rec_department_table', v-bind:value="records.id")
                                                | {{ records.name }}
                                            option
                                                span(data-toggle='', data-target='') Search More...
                                            option
                                                span(data-toggle='modal2', data-target='bd-example-modal-lg1') Create and Edit...

                                    //...................................................................................................................................



                .o_chatter.o_form_field.oe_chatter
                    .o_chatter_topbar
                        button.btn.btn-sm.btn-primary.o_chatter_button_new_message(title='Send a message', type='button')
                            | New message
                        button.btn.btn-sm.btn-link.o_chatter_button_log_note(title='Log a note. Followers will not be notified.')
                            | Log an internal note
                        .o_followers.o_form_field
                            .o_followers_title_box
                                button.btn.btn-sm.btn-link.dropdown-toggle(aria-expanded='false', data-toggle='dropdown', title='No follower')
                                    i.fa.fa-user
                                    span.o_followers_count 0
                                    span.caret
                                ul.dropdown-menu.o_followers_list(role='menu')
                                    li.o_add_follower
                                        a(href='#')  Add Followers
                                    li.o_add_follower_channel
                                        a(href='#')  Add Channels
                            .o_followers_actions
                                .btn-group.btn-group-sm.o_subtypes_list
                                    button.btn.btn-sm.btn-link.o_followers_follow_button.o_followers_notfollow
                                        span.o_follow Follow
                                        span.fa.fa-times.o_followers_unfollow
                                        span.o_followers_unfollow  Unfollow
                                        span.fa.fa-check.o_followers_following
                                        span.o_followers_following  Following
                                    button.btn.btn-sm.btn-link.dropdown-toggle(aria-expanded='false', data-toggle='dropdown', disabled='disabled')
                                        span.fa.fa-bell
                                    ul.dropdown-menu(role='menu')
                    .o_mail_thread
                        .o_thread_date_separator
                            span.o_thread_date
                                | January 28, 2017
                        .o_thread_message(data-message-id='33')
                            .o_thread_message_sidebar
                                img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/web/image/res.partner/3/image_small')
                            .o_thread_message_core.o_mail_note
                                p.o_mail_info
                                    | Note by
                                    strong(data-oe-model='res.partner', data-oe-id='')
                                        | YourCompany, Administrators
                                    |                     -
                                    small.o_mail_timestamp(title='Sat Jan 28 2017 18:12:15 GMT+0500') 2 months ago
                                    span
                                        i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='33')
                                p Hr Department created




    .o_content#createedit
        .o_view_manager_content
            .o_form_view.o_form_editable
                .o_form_sheet_bg
                    .o_form_sheet
                        .oe_button_box(name='button_box')
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-archive.o_button_icon
                                .o_stat_info.o_form_field
                                    span.o_stat_text.o_not_hover.text-success Active
                                    span.o_stat_text.o_hover.text-danger Archive
                        table.o_group.o_inner_group
                            tbody
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_155')
                                            | Department Name
                                        td(colspan='1', style='width: 50%;')
                                            input#o_field_input_155.o_form_input.o_form_field.o_form_required(type='text',v-model='departName')
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_156')
                                            | Manager
                                        td(colspan='1', style='width: 50%;')
                                            select.managerNamesDropdown(v-model='managerId')
                                                option(v-for='employeeName in employeeNames', v-bind:value="employeeName.id")
                                                    | {{ employeeName.employeename }}
                                                option
                                                    span(data-toggle='', data-target='') Search More...
                                                option
                                                    span(data-toggle='modal61', data-target='bd-example-modal-lg61') Create and Edit...
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_157')
                                            | Parent Departments
                                        td(colspan='1', style='width: 50%;')
                                            select.parentDeptNamesDropdown(v-model='parentDeptId')
                                                option(v-for='parentDepartmentName in parentDepartmentNames', v-bind:value="parentDepartmentName.id")
                                                    | {{ parentDepartmentName.name }}
                                                option
                                                    span(data-toggle='', data-target='') Search More...
                                                option
                                                    span(data-toggle='modal2', data-target='bd-example-modal-lg1') Create and Edit...

    Message
    Request_quotation_lower