.o_content
    .o_view_manager_content
        .o_form_view.o_form_readonly
            slot(name='header')

            .o_form_sheet_bg
                .o_form_sheet
                    slot(name='button')
                    slot(name='jobing')
                    .o_group
                        slot(name='job')
                        slot(name='jobs')
                    slot(name='jobsone')

