.PrintBadge
    DashboardController( v-bind:pbtn='true', v-bind:links="btnlinks")
        .col-sm-6(style='padding:0px;' ,slot='job')
            h4.samodashheading(style="font-size: 18px;") Employees /{{employeename}}/ Print Badge
    .col-sm-6
        table.form(style='width:243pt; height:153pt; border: 1pt solid black; border-collapse:separate; border-radius:8pt; margin:5pt')
            tbody
                tr
                    td(style='width:33%;', valign='center')
                        table(style='width:77pt; height:150pt')
                            tbody
                                tr(style='height:30%')
                                    td(align='center', valign='center')
                                        img(style='max-height:45pt;max-width:90%', alt='Company Logo', src='/images/company_logo.jpg')
                                tr(style='height:70%;')
                                    td(align='center', valign='center')
                                        img(style='max-height:85pt;max-width:90%', alt='Employee Image',src='/images/testEmployee.jpg')
                    td(style='width:67%', align='center')
                        table(style='width:155pt; height:85pt')
                            tbody
                                tr
                                    th
                                        div(style='font-size:15pt; margin-bottom:0pt;margin-top:0pt;', align='center') {{employeename}}
                                tr
                                    td
                                        div(align='center', style='font-size:10pt;margin-bottom:5pt;') {{jobTitle}}
                                tr
                                    td
                                        img(style='max-height:50pt;max-width:100%;', align='center', src='/images/barcode.png')
        input#create_pdf(type='button',style='display:none', value='Generate PDF')
    //.col-sm-6
    //    table(style='width:243pt; height:153pt; border: 1pt solid black; border-collapse:separate; border-radius:8pt; margin:5pt')
    //        tbody
    //            tr
    //                td(style='width:33%;', valign='center')
    //                    table(style='width:77pt; height:150pt')
    //                        tbody
    //                            tr(style='height:30%')
    //                                td(align='center', valign='center')
    //                                    img(style='max-height:45pt;max-width:90%', alt='Company Logo', src='/images/alu.jpg')
    //                            tr(style='height:70%;')
    //                                td(align='center', valign='center')
    //                                    img(style='max-height:85pt;max-width:90%', alt='Employee Image',src='/images/alu.jpg')
    //                td(style='width:67%', align='center')
    //                    table(style='width:155pt; height:85pt')
    //                        tbody
    //                            tr
    //                                th
    //                                    div(style='font-size:15pt; margin-bottom:0pt;margin-top:0pt;', align='center') {{employeename}}
    //                            tr
    //                                td
    //                                    div(align='center', style='font-size:10pt;margin-bottom:5pt;') {{jobTitle}}
    //                            tr
    //                                td
    //                                    img(style='max-height:50pt;max-width:100%;', align='center', src='/images/alu.png')