.all_transfers_table
    DashboardController(v-bind:heading="nextactivity",v-bind:savebtn='true',v-bind:savedbtn='true',v-bind:discardbtn='true', v-bind:links="btnlinks")
        .col-sm-6(style='padding:0px;')(slot='job')
            h4.samodashheading(style="font-size: 18px;") Departments / Leave Request to Approve / New

    Modal(v-bind:discard='true',v-bind:saveTigger="submitmodal",v-bind:save='true',v-bind:heading="modal2",v-bind:modal='"bd-example-modal-lg1"')
        .modal-body.o_act_window
            .o_form_view.o_form_nosheet.o_form_editable
                .o_group
                    table.o_group.o_inner_group.o_group_col_6
                        tbody
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label(for='o_field_input_59')
                                        | Leave TypeD
                                td(colspan='1', style='width: 100%;')
                                    input#o_field_input_59.o_form_input.o_form_field.o_form_required(type='text' v-model='type')
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help( data-original-title='', title='')
                                        | Apply Double Validation
                                td(colspan='1', style='width: 100%;')
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input(type='checkbox', name='my-checkbox5', value='1', v-bind:true-value='1',v-bind:false-value='0', v-model='apply_double_validation')
                                        span
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help( data-original-title='', title='')
                                        | Allow to Override Limits
                                td(colspan='1', style='width: 100%;')
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input(type='checkbox', name='my-checkbox2',value='1',v-bind:true-value='1', v-bind:false-value='0',v-model='allow_override_limit')
                                        span
                    table.o_group.o_inner_group.o_group_col_6
                        tbody
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help(data-original-title='', title='')
                                        | Meeting Type
                                td(colspan='1', style='width: 100%;')
                                    .o_form_field_many2one.o_form_field
                                        .o_form_input_dropdown
                                            select(v-model='meeting_type')
                                                option(v-for='option in options7',v-bind:value="option.id")
                                                    | {{ option.meeting_type_name }}


                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help(for='o_field_input_63', data-original-title='', title='')
                                        | Color in Report
                                td(colspan='1', style='width: 100%;')
                                    select#o_field_input_63.o_form_input.o_form_field.o_form_required(name='color_name',v-model='color_in_report')
                                        option(value='false')
                                        option(value='red') Red
                                        option(value='blue') Blue
                                        option(value='lightgreen') Light Green
                                        option(value='lightblue') Light Blue
                                        option(value='lightyellow') Light Yellow
                                        option(value='magenta') Magenta
                                        option(value='lightcyan') Light Cyan
                                        option(value='black') Black
                                        option(value='lightpink') Light Pink
                                        option(value='brown') Brown
                                        option(value='violet') Violet
                                        option(value='lightcoral') Light Coral
                                        option(value='lightsalmon') Light Salmon
                                        option(value='lavender') Lavender
                                        option(value='wheat') Wheat
                                        option(value='ivory') Ivory
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help( data-original-title='', title='')
                                        | Active
                                td(colspan='1', style='width: 100%;')
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input(type='checkbox', name='my-checkbox3', value='1', v-bind:true-value='1', v-bind:false-value='0',v-model='active')
                                        span
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_invisible(for='o_field_input_65')
                                        | Company
                                td(colspan='1', style='width: 100%;')
                                    .o_form_field_many2one.o_form_field.o_form_invisible
                                        .o_form_input_dropdown
                                            input#o_field_input_65.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                            span.o_dropdown_button(draggable='false')
                                        button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')


    Modal(v-bind:discard='true',v-bind:saveTigger="submitmodaledit",v-bind:save='true',v-bind:heading="modal2",v-bind:modal='"bd-example-modal-lg2"')
        .modal-body.o_act_window
            .o_form_view.o_form_nosheet.o_form_editable
                .o_group
                    table.o_group.o_inner_group.o_group_col_6
                        tbody
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label(for='o_field_input_59')
                                        | Leave Types
                                td(colspan='1', style='width: 100%;')
                                    input#o_field_input_59.o_form_input.o_form_field.o_form_required(type='text' v-model='type1')
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help( data-original-title='', title='')
                                        | Apply Double Validation
                                td(colspan='1', style='width: 100%;')
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input#one(type='checkbox',value='1', name='my-checkbox5',v-bind:true-value='1',v-bind:false-value='0', v-model='apply_double_validation1')
                                        span
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help( data-original-title='', title='')
                                        | Allow to Override Limit
                                td(colspan='1', style='width: 100%;')
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input#two(type='checkbox',value='1', name='my-checkbox9',v-bind:true-value='1', v-bind:false-value='0',v-model='allow_override_limit1')
                                        span
                    table.o_group.o_inner_group.o_group_col_6
                        tbody
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help(data-original-title='', title='')
                                        | Meeting Type
                                td(colspan='1', style='width: 100%;')
                                    .o_form_field_many2one.o_form_field
                                        .o_form_input_dropdown
                                            select(v-model='meeting_type1')
                                                option(v-for='option in options7',v-bind:value="option.id")
                                                    | {{ option.meeting_type_name }}

                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help(for='o_field_input_63', data-original-title='', title='')
                                        | Color in Report
                                td(colspan='1', style='width: 100%;')
                                    select#o_field_input_63.o_form_input.o_form_field.o_form_required(name='color_name',v-model='color_in_report1')
                                        option(value='false')
                                        option(value='red') Reds
                                        option(value='blue') Blue
                                        option(value='lightgreen') Light Green
                                        option(value='lightblue') Light Blue
                                        option(value='lightyellow') Light Yellow
                                        option(value='magenta') Magenta
                                        option(value='lightcyan') Light Cyan
                                        option(value='black') Black
                                        option(value='lightpink') Light Pink
                                        option(value='brown') Brown
                                        option(value='violet') Violet
                                        option(value='lightcoral') Light Coral
                                        option(value='lightsalmon') Light Salmon
                                        option(value='lavender') Lavender
                                        option(value='wheat') Wheat
                                        option(value='ivory') Ivory
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help( data-original-title='', title='')
                                        | Active
                                td(colspan='1', style='width: 100%;')
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input#three(type='checkbox',value='1', name='my-checkbox3',v-bind:true-value='1', v-bind:false-value='0',v-model='active1')
                                        span
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_invisible(for='o_field_input_65')
                                        | Company
                                td(colspan='1', style='width: 100%;')
                                    .o_form_field_many2one.o_form_field.o_form_invisible
                                        .o_form_input_dropdown
                                            input#o_field_input_65.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                            span.o_dropdown_button(draggable='false')
                                        button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
    leaveallocationRequest
        .o_form_view.o_form_editable(slot='allocation',style='margin-left: -15px;margin-right: -15px;')
            .o_checkbox.o_form_field_boolean.o_form_field.o_form_invisible
                input(type='checkbox', name='can_reset', disabled='')
                span
            select.o_form_input.o_form_field.o_form_required.o_form_invisible(name='type', data-original-title='', title='')
                option(value='false')
                option(value='"remove"') Leave Request
                option(value='"add"') Allocation Requests
            header
                button.btn.btn-sm.oe_highlight.o_form_invisible(type='button')
                    span#c Confirm
                button.btn.btn-sm.oe_highlight#a(v-on:click="submit3('approved')",type='button',value='approve')
                    span Approve
                button.btn.btn-sm.oe_highlight.o_form_invisible(type='button')
                    span Validate
                button.btn.btn-sm#q(v-on:click="submit3('Refused')",type='button',value='Refuse')
                    span Refuse
                button.btn.btn-sm#d(style='display:none;',type='button')
                    span Reset to Draft
                ul.oe_form_field_status.oe_form_status.o_form_field(data-original-title='', title='')
                    li#submit
                        span.label To Submit
                        span.arrow
                            span
                    li#toapprrove.oe_active
                        span.label To Approve
                        span.arrow
                            span
                    li#resused(style='display:none;')
                        span.label Refused
                        span.arrow
                            span
                    li#aprroved
                        span.label Approved
                        span.arrow
                            span
            .row
                .col-sm-12
                    #success-alert(style='background-color:red;display:none;position:absolute;right: 16px;')
                        button.close(type="button", data-dismiss="alert",style='color:white;') x
                        .o_notification.o_error
                            .o_notification_title
                                span.o_icon.fa.fa-3x.fa-exclamation(style='color:white;border-bottom: 3px solid white;font-size: 16px') The following fields are invalid:

                            .o_notification_content(style='padding-top: 16px;')
                                ul
                                    li#leave(style='color:white;') Leave Type
            .o_form_sheet_bg
                .o_form_sheet
                    .oe_title
                        h1
                            span.o_form_field.o_form_field_empty
                    .o_group
                        table.o_group.o_inner_group.o_group_col_6
                            tbody
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_102')
                                            | Description
                                    td(colspan='1', style='width: 100%;')
                                        input#o_field_input_102.o_form_input.o_form_field(v-model='description',type='text')
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label
                                            | Leave Type
                                    td(colspan='1', style='width: 50%;')
                                        select#abcs(v-model='leave_type_id',class="dept_dropdown",class="dept_dropdown",@click="select13()",style='width: 81%; display: inline-block;')
                                            option(v-for='option in options',v-bind:value="option.id")
                                                | {{ option.type }}
                                            option(value='Create and Edit') Create and Edit
                                        .fa.fa-external-link.btn.btn-default.o_external_button#ss(style='display: none;display: inline-block;',data-toggle='modal', data-target='.bd-example-modal-lg2',draggable='false', tabindex='-1', type='button')
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label
                                            | Date From
                                    td(colspan='1', style='width: 100%;')
                                        .o_datepicker
                                            input.o_datepicker_input.o_form_input#datepicker()(type='text',v-model='date_from')
                                            span.o_datepicker_button
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label
                                            | Date To
                                    td(colspan='1', style='width: 100%;')
                                        .o_datepicker
                                            input.o_datepicker_input.o_form_input#datepicker1()(type='text',v-model='date_to')
                                            span.o_datepicker_button
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_104')
                                            | Durations
                                    td(colspan='1', style='width: 100%;')
                                        div
                                            .o_form_invisible(attrs="{'invisible': [('type', '=', 'add')]}")
                                                .o_datepicker.o_form_field_date.oe_inline.o_form_field
                                                    input.o_datepicker_input.o_form_input(type='text', name='date_from')
                                                    span.o_datepicker_button
                                                label.o_form_label.oe_inline
                                                    | -
                                                .o_datepicker.o_form_field_date.oe_inline.o_form_field
                                                    input.o_datepicker_input.o_form_input(type='text', name='date_to')
                                                    span.o_datepicker_button
                                            div
                                                input#o_field_input_104.o_form_input.oe_inline.o_form_field.o_form_field_number(v-model='duration',type='text')
                                                |  days
                        table.o_group.o_inner_group.o_group_col_6
                            tbody
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label.o_form_label_help(for='o_field_input_105', data-original-title='', title='')
                                            | Modes
                                    td(colspan='1', style='width: 100%;')
                                        span.o_form_field.o_form_required(v-model='mode') By Employee
                                tr.e
                                    td.o_td_label(colspan='1')
                                        label.o_form_label
                                            | Employee
                                    td(colspan='1', style='width: 100%;')
                                        .o_form_field_many2one.o_with_button.o_form_field.o_form_required
                                            .o_form_input_dropdown
                                                select(v-model='employee_id',v-on:click="selectcontacts()")
                                                    option(v-for='option in options2', v-bind:value="option.id")
                                                        | {{ option.employeename }}
                                            button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button')
                                tr#r
                                    td.o_td_label(colspan='1')
                                        label.o_form_label
                                            | Employee Tag
                                    td(colspan='1', style='width: 100%;')
                                        .o_form_field_many2one.o_with_button.o_form_field.o_form_required
                                            .o_form_input_dropdown
                                                select
                                                    option(v-for='option in options2', v-bind:value="option.id")
                                                        | {{ option.employeename }}
                                            button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button')
                                tr.e
                                    td.o_td_label(colspan='1')
                                        label.o_form_label
                                            | Departments
                                    td(colspan='1', style='width: 100%;')
                                        span(v-model='department_id') {{department_name}}
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label.o_form_label_help( data-original-title='', title='')
                                            | Reported in last payslips
                                    td(colspan='1', style='width: 100%;')
                                        button.btn.btn-default.btn-circle#ab(v-on:click="submit4('0')",style='border-radius: 20px 20px 20px 20px;background-color:black;',type='button', title='Reported in last payslips')
                                            i(title='Reported in last payslips')
                                        button.btn.btn-default.btn-circle#b(v-on:click="submit4('1')",style='display:none;border-radius: 20px 20px 20px 20px;background-color:green;',type='button', title='Reported in last payslips')
                                            i(title='Reported in last payslips')

                        textarea.o_form_textarea.o_group_col_12.o_form_field(v-model='comment_manager',rows='6', name='notes', placeholder='Add a reason...', style='resize: horizontal; height: 50px;')
                        textarea.o_form_textarea.o_group_col_12.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 825px;')
                            .o_horizontal_separator
                                | Comment by Manager
                            textarea.o_form_textarea.o_form_field(rows='6', name='report_note', placeholder='e.g. Report to the next month...', style='resize: horizontal; height: 50px;')
                            textarea.o_form_textarea.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 110.5px;')
